{% load i18n static %}
{#{% spaceless %}#}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}
      class="{% block html_class %}{% endblock %}">
<head>
    {% block begin_head %}{% endblock %}
    {% block base_head %}{% endblock %}
    {% block end_head %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}" onload="{% block bodyonload %}{% endblock %}">
{% block begin_body %}{% endblock %}
{% block basebody %}{% endblock %}
{% block extrascript %}{% endblock %}
{% block initscript %}{% endblock %}
{% block end_body %}{% endblock %}
</body>
</html>
{#{% endspaceless %}#}
